$estilos:(
colorTommy: #3D2875,
backgroundTommy: radial-gradient(circle, #fff, #bbb),
);

#footer{
    background-color: #493f66;
    color: white;}
    nav{
        background: radial-gradient(circle, #fff, #bbb);
    }
 #colorTommyBackground {
        background-color: map-get($estilos, backgroundTommy);
        border-radius: 5px solid; }
body{
    background: radial-gradient(circle, #fff, #bbb);
          }
#colorTommy{
    color:map-get($estilos, colorTommy);}


